@import '_pure-min';

body {
  background-color: rgb(31,77,114);
  color: rgb(0,0,0);
}
*, *::after, *::before { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

#wrap {
  background-color: rgb(255,255,255);
  margin: 0 auto;
  padding: 15px;
  width: 960px;
}
